$primary-color: #c08e8e;
$secondary-color: #333;
$light-color: #fcfcfc;
$font-family: 'Arial', sans-serif;
$button-padding: 10px 15px;

:root {
  --primary-color: #c08e8e;
  --secondary-color: #333;
  --light-color: #fcfcfc;
}
