.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;

    .image-section {
      flex: 1;
      background-image: url(../Images/favicon.jpg);
      background-size: cover;
      border-radius: 10px 0 0 10px;
    }

    .login-container {
      flex: 1;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    button {
      @include button-style;
    }
  }
